@charset "UTF-8";


.logo-wrap{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.logo{
    color: #eee;
}

.gnb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.gnb-left,.gnb-right{
    display: flex;
}

