<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sample2.mapper.FileMapper">
	<!-- 파일등록 -->
	<insert id="insertFileInfoToDB">
		insert into imgTest(fName,fPath)
		values(#{fName},#{fPath})
	</insert>
	
	
	<!-- 파일 가져오기 -->
	<select id="getFileInfoFromDB" resultType="fileDTO">
		select * from imgTest
		where fno = #{fno}
	</select>
	
	
</mapper>