@charset "UTF-8";

.search-row{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 500px;
}

.search-frm{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5px 0;
}

.search-type{
    width:100px
}

.search-input{
    width: 258px;
}

/* .search-btn{
    width: 42px;
    height: 38px;
} */